parameters:
  level: 7
  typeAliases:
    PhpstanSomePurchase: '''
      array{
        id: int,
        amount: float,
        currency: string,
        product: string,
      }
    '''
    PhpstanPurchaseList: '''
      array{
        customerName: string,
        lastUpdateDt: \DateTime,
        items: array<PhpstanSomePurchase>,
      }
    '''
